.done {
    border: 1px solid black;
    border-radius: 10px;
    width: 500px;
    height: 300px;
    margin: 70px auto ;
    box-shadow: 5px 5px 5px DarkGray;
}

.done_message {
    border-radius: 10px 10px 0 0;
    font-size: 25px;
    text-align: center;
    padding: 80px 0 50px;
}

.back-guidance {
    text-align: center;
    margin: 0 30px 0 20px;
}

.back-guidance__link {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px 15px;
}