.index {
    padding: 0 5% 0 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.index::after {
    display: block;
    content: "";
    width: 24%;
}

.index__item {
    background-color: white;
    border: 1px solid white;
    border-radius: 10px;
    width: 24%;
    box-shadow: 5px 5px 5px DarkGray;
    margin-bottom: 30px;
}

.index__img {
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.index__content {
    padding: 15px;
}

.index_name {
    font-size: 25px;
    font-weight: bold;
}

.tag {
    margin-bottom: 15px;
}

.index__tag {
    font-size: 15px;
}

.index__button {
    display: flex;
}

.index__button-detail {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px 15px;
}

.index__button-favorite {
    margin-top: -15px;
    margin-left: auto;
}

.index__button-favorite-item {
    background-color: white;
    font-size: 50px;
    border: none;
}

@media screen and (max-width: 768px) {
    .index_name {
        font-size: 20px;
    }

    .index__tag {
        font-size: 12px;
    }

    .index__button-detail {
        font-size: 10px;
        margin-top: 10px;
    }
}