.main {
    width: 100%;
}

.review_main {
    display: flex;
    margin: 0px 80px;
}

.review_left {
    width: 35%;
    height: 60vh;
    margin-top: 50px;
    margin-right: 50px;
    border-right: solid 1px black;
}

.review_left-title {
    font-size: 50px;
    margin-bottom: 50px;
}

.review_left-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.review_left-item {
    background-color: white;
    border: 1px solid white;
    border-radius: 10px;
    width: 70%;
    height: 350px;
    box-shadow: 5px 5px 5px DarkGray;
    margin-bottom: 20px;
    margin-left: 30px;
}

.review_left-img {
    width: 100%;
    height: 200px;
    border-radius: 10px 10px 0 0;
}

.review_left_content {
    padding: 15px;
}

.review_left-name {
    font-size: 20px;
    font-weight: bold;
}

.tag {
    margin-bottom: 15px;
}

.review_left-tag {
    font-size: 12px;
}

.review_left-button {
    display: flex;
}

.review_left-button-detail {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px 15px;
    width: 120%;
    font-size: 15px;
}

.review_left-button-favorite {
    margin-top: -15px;
    margin-left: auto;
}

.review_left-button-favorite-item {
    background-color: white;
    font-size: 45px;
    border: none;
}

.detail__comment-edit {
    display: flex;
    width: 45%;
    margin-left: auto;
}

.star {
    color: grey;
    font-size: 40px;
}

.rating-1 .star:nth-child(-n+1),
.rating-2 .star:nth-child(-n+2),
.rating-3 .star:nth-child(-n+3),
.rating-4 .star:nth-child(-n+4),
.rating-5 .star:nth-child(-n+5) {
    color: blue;
}

.detail__comment-item {
    font-size: 20px;
    margin-bottom: 30px;
    border-bottom: solid 2px;
}

@media screen and (max-width: 768px) {
    .review_main {
        font-size: 20px;
        margin: 0px 30px;
    }

    .review_left {
        width: 45%;
        margin-right: 10px;
    }

    .review_left-title {
        font-size: 35px;
    }

    .review_left-item {
        width: 90%;
        margin-left: 5px;
    }

    .detail__comment {
        width: 50%;
    }

    .detail__comment-edit {
        width: 80%;
    }
}